.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/app.iml
/CWCProject.iml
library/build/intermediates/bundles/release/classes.jar
library/build/outputs/aar/library-release.aar
settings.gradle
